$schema: https://raw.githubusercontent.com/streetsidesoftware/cspell/main/cspell.schema.json
version: "0.2"
files:
  - "**/*.ts"
  - "**/*.tsx"
  - "**/*.md"
  - "**/*.{c,m}js"
ignorePaths:
  - "**/*.d.ts"
  - "**/node_modules/**"
words:
  - acum
  - dvir
  - dvirtz
  - greasemonkey
  - isni
  - isrc
  - isrcs
  - iswc
  - iswcs
  - knipignore
  - mbid
  - metabrainz
  - musicbrainz
  - pwdebug
  - rels
  - setlist
  - setlistfm
  - tampermonkey
  - tracklist
  - Turborepo
  - typedbrainz
  - userscript
  - userscripts
  - vite
  - yitzchaki
patterns:
  - name: user_script_id
    pattern: /\/\/ @id.*/g
overrides:
  - filename: dist/*.user.js
    ignoreRegExpList:
      - user_script_id
  - filename: package.json
    includeRegExpList:
      - /"description":.*/g
  - filename: vite.config.ts
    ignoreRegExpList:
      - /'http\*\:\/\/.*/g
languageSettings:
  - languageId: typescriptreact
    ignoreRegExpList:
      - /^import .*/mg
      - /class=\{[^}]+\}/g
      - /class="[^"]+"/g
  - languageId: git
    ignoreRegExpList:
      - /#\s.*/
      - /`.*?`/
      - /(```+)\s?[\s\S]+?\1/g
    dictionaries:
      - npm
