name: CI

on:
  pull_request:
  push:
    branches: [main, beta]

permissions:
  contents: read # for checkout

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Enable Corepack
        run: corepack enable
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Lint
        run: yarn ci
      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps
      - name: Run Playwright tests (excluding @allow_fail)
        run: yarn test -- --pass-with-no-tests --grep-invert @allow_fail
        env:
          MB_USERNAME: ${{ secrets.MB_USERNAME }}
          MB_PASSWORD: ${{ secrets.MB_PASSWORD }}
          # https://github.com/nodejs/node/issues/59364
          NODE_OPTIONS: --no-experimental-strip-types
      - name: Run @allow_fail tests (non-blocking)
        continue-on-error: true
        run: yarn test -- --pass-with-no-tests --grep @allow_fail
        env:
          # https://github.com/nodejs/node/issues/59364
          NODE_OPTIONS: --no-experimental-strip-types
        timeout-minutes: 30
      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: scripts/*/playwright-report/
          retention-days: 30

  release:
    needs: lint
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.SEMANTIC_RELEASE_APP_ID }}
          private-key: ${{ secrets.SEMANTIC_RELEASE_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}
      - name: Enable Corepack
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: yarn release
